<header>
      <section>
        <h1>MPA Portales Web 2</h1>
      </section>
      <nav class="nav-links">
      <ul>
        <li><a href="#como-funciona">Cómo Funciona</a></li>
        <li><a href="#funciones">Integraciones</a></li>
        <li><a href="#regl-ia">Regl. IA</a></li>
        <li><a href="#precios">Precios</a></li>
        <li><a href="#acceso">Obtener Acceso</a></li>
      </ul>
    </nav>
</header>